@charset "UTF-8";
* {
  font-family: Arial, sans-serif;
}
h1 {
  color: #333;
  text-align: center;
}
p {
  font-size: 1.2em;
  margin: 20px;
}

nav {
  background-color: #f0f0f0;
  padding: 10px;
  display: flex;
  justify-content: center;
}
ul {
  list-style-type: none;
  margin: 20px;
  padding: 0;
}
li {
  margin: 10px 0;
}

a {
  text-decoration: none;
  color: #007bff;
  font-weight: bold;
}
a:hover {
  color: #0056b3;
}
h2 {
  color: #0056b3;
  margin-top: 30px;
  text-align: center;
}
h3 {
  color: #333;
  margin-top: 20px;
  text-align: center;
}

table {
  width: 80%;
  margin: 20px auto;
  border-collapse: collapse;
}
table,
th,
td {
  border: 1px solid #ccc;
}
th,
td {
  padding: 10px;
  text-align: left;
}

footer {
  background-color: #f0f0f0;
  color: #0056b3;
  padding: 20px;
  text-align: center;
  margin-top: 40px;
}
