@charset "UTF-8";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #ffcc00;
  color: #333;
  line-height: 1.6;
}
h1 {
  text-align: center;
  margin-top: 20px;
  color: #025f38;
}

nav {
  background-color: #fff;
  color: #1541bb;
  padding: 10px;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
}

nav ul li {
  margin: 0 15px;
}

nav ul li a {
  text-decoration: none;
  color: #3176c5;
  font-weight: bold;
}

nav ul li a:hover {
  color: #1304da;
}

h2 {
  text-align: center;
  margin-top: 20px;
  color: #025f38;
}
p {
  text-align: center;
  margin: 10px 0;
  color:;
}

figure {
  text-align: center;
  margin: 20px 0;
}

figure img {
  max-width: 100%;
  height: auto;
}

figure figcaption {
  margin-top: 10px;
  font-style: italic;
  color: #1304da;
}

h3 {
  text-align: center;
  margin-top: 20px;
  color: #025f38;
}

#voltar {
  display: block;
  text-align: center;
  margin: 20px 0;
}

form {
  max-width: 400px;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
}

form label {
  display: block;
  margin-bottom: 5px;
  color: #333;
}
form input,
form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
form input[type="submit"] {
  background-color: #ffcc00;
  color: #333;
  border: none;
  cursor: pointer;
}
form input[type="submit"]:hover {
  background-color: #ffdd44;
}

footer {
  text-align: center;
  padding: 10px;
  background-color: #fff;
  color: #1304da;

  bottom: 0;
  width: 100%;
}
