@charset "UTF-8";
* {
  font-family: Arial, sans-serif;
}
h1 {
  color: #333;
  text-align: center;
}
p {
  font-size: 1.2em;
  margin: 20px;
}

nav {
  background-color: #f0f0f0;
  padding: 10px;
  display: flex;
  justify-content: center;
}
ul {
  list-style-type: none;
  margin: 20px;
  padding: 0;
}
li {
  margin: 10px 0;
}

a {
  text-decoration: none;
  color: #007bff;
  font-weight: bold;
}
a:hover {
  color: #0056b3;
}
h2 {
  color: #0056b3;
  margin-top: 30px;
  text-align: center;
}
h3 {
  color: #333;
  margin-top: 20px;
  text-align: center;
}

table {
  border: 1px solid #111;
  width: 80%;
  margin: 20px auto;
  border-collapse: collapse;
}

caption {
  font-size: 1.5em;
  margin: 10px;
  text-align: center;
}

thead {
  background-color: darkorange;
}

table,
th,
td {
  border: 1px solid #ccc;
}
th,
td {
  padding: 10px;
  text-align: left;
}

form {
  width: 50%;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

form label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
}

form input[type="text"],
form input[type="email"],
form input[type="password"] form textarea {
  width: 80%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

form input[type="submit"] {
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

footer {
  background-color: #f0f0f0;
  color: #0056b3;
  padding: 20px;
  text-align: center;
  margin-top: 40px;
}
